body, head, html{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #001821;
    display: block;
}
a { text-decoration: none;
}
button{
    background: transparent;
    border: none;
    cursor: pointer;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
}
*{
    box-sizing: border-box;
}
body, html{
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /*overflow: hidden;*/                
    min-width: 1200px;
}
.wrapper__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__col{
    display: flex;
    align-items: center;
}
.header__col--align--right{
    justify-content: flex-end;
}
.logo{
    display: block;
    margin-right: 79px;
}
.logo img{ 
    width: 115%;
}
.contacts{
    font-style: normal;
    text-align: right;
}
.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.menu__link{
    font-size: 14px;
}
.menu__link:hover{
    color: #DA0100;
}

.contacts__phone{
    font-size: 26px;
    text-decoration: none;
}
.contacts_info{
    font-size: 13px;
    padding-right: 6px;
    margin-bottom: 20px;
}
.content--rigth{
    right: 0;
}
.fire{
    height: fit-content;
    align-items: center;
    display: flex;
}
.main-page-wrapper{
    background: url("./img/elephant.png") center top no-repeat, url("./img/dark.png") right bottom no-repeat;
}
.text__choice{
    display: flex;
    font-size: 16px;
    align-items: center;
    color: #666666;
    width: 100%;    
}
.container{
    margin: 0 auto;
    max-width: 1140px;
}
.container__footer{
    margin: 0 auto;
    max-width: 1140px;
    padding-bottom: 18px;
}
.container__middle{
    margin: 0 auto;
    max-width: 1140px;
    
}
.hello{
    width: 520px;
    
}
.hello__title{
    font-size:72px ;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 33px;
}
.hello__text{
    font-size: 17px;
    margin-bottom: 33px;
    padding-left: 1px;
    font-weight: bold;
}
p{
    size: 14px;
    margin-top: 0;
}
.text__white{
    color:white;
}
.btn{
    border-radius: 40px;
    padding: 16px 35px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}
.btn-color--white{
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
}
.btn-color--white:hover{
    background: #f1b2b2;
    color:#fff;
}
.btn-color--red{
    background: #F5170E;
}
.btn-color--red:hover{
    background: #DA0100;
}
.btn-color--black{
    background: #2B2B2B;
}
.btn-color--black:hover{
    background: #8E8E8E;
}
.maincontent{
    margin: 0 auto;
    max-width: 1140px;
}
.section{
    margin-bottom: 0px;
}
.section__title{
    font-size: 36px;
    font-weight: bold;
    margin: 127px -3px 51px;
}
.offers{
    display: flex;
    justify-content: space-between;
}
.offers__list{
    list-style-type: none;
}
.offers__images{
    display: flex;
    margin: 0px 21px 29px 25px;
}
.offers__item{
    margin-top: 22px;
    min-height: 449px;
    background: #fff;
    width: 33.2%;
    border-radius: 2px;
    width: 362px;
}
.offers__header{
    min-height: 149px;
}
.offers__content{
    padding: 18px 21px 19px 17px;
}
.offers__jist{
    font-size: 14px;
    padding-bottom: 13px;
}
.offers__text p{
    font-size: 14px;
}
.offers__title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 9px;
}
.offers__prices-cell {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    margin-right: 30px;
}
.offers__prices-cell:last-child{
    margin-right: 0;
}
.title--fire{
    font-size: 36px;
}
.hot__tour{
    padding-bottom: 216px;
    padding-top: 33px;
}   
.single-news__item{
    margin-right: 2%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    flex: 1;
}
.single-news__cover{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single-news__text--content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 26px 23px 13px 30px;
    min-height: 172px;
}
.single-news__date{
    font-size: 14px;
    margin-bottom: 18px;
}
.single-news__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
    padding-top: 12px;
}
.news{
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}
.pager_i{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 145px;
}
.pager{
    display: flex;
    justify-content: center;
    text-align: center;
}
.pager__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pager--theme--light{
    padding: 30px;
    color:#000000;

}
.pager__link--black{
    color: #000;
}
.pager__link--white{
    color: #fff ;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.pager__link--white:hover{
    color: #F5170E;
    background: #ffffff;
}
.pager__link:hover{
    color: #ffffff;
    background: #F5170E;
}
.pager__display{
    padding-top: 7px;
    margin-right: 26px;
}
.pager__item--active .pager__link{
    background: #ffffff;
}
.pager__item{
    text-align: center;
}
.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
p{

    display: inline-block;
    margin-left: 8px;
}
.odd {
    padding-bottom: 55px;
}
.about{
    display: flex;
}
.about::before, .about__desc{
    display: inline-block;
    vertical-align: top;
}
.about::before{
    content: "";
    width: 490px;
    height: 505px;
    background: url("./img/gates.png") center center / cover no-repeat;
    display: block;
}

.about__desc{
    background: url("./img/mountains.png");
    display: inline-block;
    vertical-align: top;
    padding: 87px 169px 0px 74px;
    max-width: 785px;
    margin-left: -147px;
    margin-top: 97px;
}
.about__title{
    font-weight: bold ;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: -19px;
}
.about__desc-text{
    margin-bottom: 42px;
}
.about__desc-text p{
    margin-bottom: 20px;
}
.about__desc-text p:last-child{
    margin-bottom: 0;
}
.footer-container__content{
    border-top: 1px solid #ffffff;
}
.footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-container{
    margin-top: auto;
}
.footer__col{
    display: flex;
    align-items: center;
}
.footer__col--align--right{
    align-items: flex-end;
}
.contact__link{
    color: #9A9A9A;
}
.contact__list{
    font-size: 13px;
    color: #1e1f20;
    line-height: 1.5em;
}
.contact__drop{
    background-color: #ededed;
    opacity: 0;
    border-radius: 4px;
    padding: 16px 20px;
    width: 180px;
    margin-top: 9px;
    position: absolute;
    right: 0;
    pointer-events: none;
}
.contact__shedule:hover .contact__drop{
    opacity: 1;
    pointer-events: visible;
}
.contact__drop::before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-width: 0;
    border-bottom-color: #ededed;
    position: absolute;
    bottom: 100%;
    right: 40px;
}
.contact__drop::after{
    content:"";
    display: block;
    height: 9px;
    width: 100%;
    position: absolute;
    bottom: 100%;
    right: 0;
}
.riba{
    line-height: 27px;
    font-size: 16px;
    padding-bottom: 53px;
}
.class{
    padding-bottom: 67px;
}
.socials{
margin-right: 20px;
}
.socials__item{
    display: inline-block ;
    vertical-align: middle;
    margin-right: 5px;
}
.socials__item:last-child{
    margin-right: 0 ;
}
.socials__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.socials__item--icon--tg .socials__link{
    background-image: url("./img/tg.png");
}
.socials__item--icon--tg .socials__link:hover {
    background-image: url("./img/tg-hover.png");
}
.socials__item--icon--vk .socials__link{
    background-image: url("./img/vk.png");
}
.socials__item--icon--vk .socials__link:hover {
    background-image: url("./img/vk-hover.png");
}
.socials__item--icon--f .socials__link{
    background-image: url("./img/f.png");
}
.socials__item--icon--f .socials__link:hover {
    background-image: url("./img/f-hover.png");
}
.socials__item--icon--in .socials__link{
    background-image: url("./img/in.png");
}
.socials__item--icon--in .socials__link:hover {
    background-image: url("./img/in-hover.png");
}
.text__gray{
    color:  #303030;
}



/* services page*/
.container__header{
    margin: 0 auto;
    max-width: 1140px;
    margin-top: -24px;
    padding-bottom: 16px;
}
.heaader{
    height: 98px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.top-line{
    min-height: 415px;
    color: #FFFFFF;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom:px;
    
}
.top-line__container{
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: space-between;
}
.allin{
    margin: 0 auto;
    max-width: 1920px;
    background: #001821 url("./img/headline.png") right 98% top no-repeat;
}
.all{
    margin: 0 auto;
    max-width: 1140px;
}
.page-title{
    font-size: 72px;
    margin: 30px;
    font-weight: bold;
    padding-bottom: 54px;
}
.page-content{
    background: white;
    color: #303030;
    padding: 40px 0;
}
.breadcrumbs__list{
    display: flex;
    align-items: center;
    margin: 30px;
}
.breadcrumbs__link{
    font-size: 14px;
    color: #9A9A9A;
}
.breadcrumbs__item{
    display: flex;
    align-items: center;
    margin-right: 3px;
}
.breadcrumbs__item--active .breadcrumbs__link{
    font-weight: bold;
}
.breadcrumbs__item::after{
    content: "/";
    color: #999;
}
.breadcrumbs__item:last-child:after{
    display: none;
}


.services{
    margin-bottom: 20px;
}
.service{
    align-items: center;
    display: flex;
}
.service__img{
    width: 42%;
    margin-right: 2%;

}
.service__content{
    flex: 1;
}
.service__title{
    font-size: 36px;
    font-weight: bold;
    margin: 18px 35px;
    color: #000000;
}
.service__desc{
    line-height: 1.8;
    margin: 28px 30px;
}
.service__btn{
    margin: 0px 30px;
}

.inner-section{
    background: #f5f5f5;
    color: #1A1B1E;
    padding: 95px 0;
}

.inner-section--bg-grey{
    background: white(255, 255, 255);
}
.inner-section__title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}
.partners{
    display: flex;
    flex-wrap: wrap;
}
.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 90px;
    align-items: center;
    justify-content: center;
}
.partners__item{
    margin-left: 46px;
}
.partners__item:nth-child(4n + 1){
    margin-left: 0;
}
.footer-container__section{
    height: 56px;
    margin-top: auto;
}
.inner-footer__container{
    padding: 45px 0;
}
.inner-footer{
    margin-top: auto;
}



/* reviews page*/
.reviews{
    column-count: 2;
    column-gap: 30px;
}

.reviews__item{
    margin-bottom: 20px;
}
.review__photo{
    margin-right: 17px;
}
.review{
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #f4f5f5;
}
.avatar{
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}
.review__header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.review__user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #4d76a1;
    margin-bottom: 11px;
}
.review__user::after{
    content: url("./img/vk-blue.png");
    height: 29px;
}
.review__tags{
    display: flex;
    align-items: flex-start;
}
.review__title{
    font-size: 30px;
    color: #202123;
    font-weight: bold;
    margin-bottom: 23px;
}
.review__content-text{
    margin-bottom: 50px;
}
.review__date{
    font-size: 14px;
    color: #202123;
    font-weight: bold;
}
.tag{
    font-size: 13px;
    color: #333;
    padding: 8px 16px;
    border-radius: 50px;
    background: #E7E7E7;
}
.tag--bg--green{
    background: #c7e9d0;
}
.separator{
    background: url("./img/Rectangle.png") right 20% bottom no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
   
}
.separator__people{
    background: url("./img/couple.png") 69% 101% no-repeat;
    display: inline-block;
    flex:2
}
.separator__content{
    width: 52%;
    margin: 4%;
    padding-left: 17%;
    padding-right: 6%;
}
.separator__title{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
}
.form__row{
    display: flex;
    margin-bottom: 30px;
}
.form__input{
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #ffffff;
    padding: 22px 30px ;
    font-size: 18px;
    color: #1A1B1E;
}
.form__input::placeholder{
    color: #666;
}
.form__input:last-child{
    margin-right: 0px;
}
.form__input--textarea{
    height: 232px;
}
.form__controls{
    display: flex;
    margin-bottom: 35px;
}
.form__controls-title{
    width:37%;
    padding-left: 30px;
    margin-right: 15px  ;
}
.controls{
    flex: 1;
    display: flex;
    flex-wrap:wrap;
}
.controls__item{
    margin-bottom: 10px;
    margin-right: 10px;
}
.controls__elem{
    cursor: pointer;
}
.controls__checkbox:checked ~ .controls__tag {
    background: #7bd3c9;
}
.controls__checkbox{
    display: none;
}
.form__btns{
    display: flex;
    justify-content: flex-end;
}
.form__btn{
    margin-right: 20px;
}
.form__btn:last-child{
    margin-right: 0;
}

/* welcome page*/
.welcome{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("./img/welcome.png") center bottom / cover no-repeat;
}
.central{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.central__asia{
    opacity: 0;
    animation: zoom .9s ease-in;
    animation-fill-mode: forwards;
}
.open__asia {
    font-size: 18px;
    margin-bottom: 60px;
}

@keyframes zoom{
    from {
        transform: scale(.7);
    }

    20% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
